<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Hello World - Input Form</title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>

    <form class="mt-20 mx-16" th:action="@{/processFormVersionThree}" method="GET">
        <input class="border-2 mt-20 mx-16 rounded-lg" type="text" name="studentName"

               placeholder="What's your name?"/>
        <input type="submit" />
    </form>

</body>

</html>


