<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title> Student Registration Form</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>

Hello World of Spring!
<h3> Student Registration Form</h3>
<br><br>
<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">

    First Name: <input  class=" border-1 rounded-sm " type="text" th:field="*{firstName}"/>

    <br><br>

    Last Name: <input class=" border-1 rounded-sm " type="text" th:field="*{lastName}"/>

    <br><br>
    Country:
    <select th:field="*{country}">

        <option th:each="tempCountry: ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"></option>

    </select>

    <br><br>

    Favourite Programming Language:

    <label>
        <input type="radio" th:field="*{favouriteLanguage}" th:value="Go" > Go </input>
        <input type="radio" th:field="*{favouriteLanguage}" th:value="Java" > Java </input>
        <input type="radio" th:field="*{favouriteLanguage}" th:value="C+'+'+'+'" > C++ </input>
    </label>

    <br><br>
    <input type="submit" value="submit"/>

</form>
<br><br>

</body>

</html>


